.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4rem;
  background: linear-gradient(to bottom right, #2f0147, #350043);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  font-family: "Poppins", sans-serif;
  z-index: 10;
  position: sticky;
  top: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.appName {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  gap: 2rem;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  position: relative;

  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}

.navLink::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #ff7e5f;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.navLink:hover::after {
  width: 100%;
}

.navLink:hover {
  color: #ffb347;
}

.icon {
  width: 20px;
  height: 20px;
  stroke-width: 2;
  color: inherit;
}
